* text=auto !eol
.deps/.d -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/ap_include.am -text
/apertium-ia.ia.acx -text
/apertium-ia.ia.dix -text
/apertium-ia.ia.rlx -text
/apertium-ia.pc -text
/apertium-ia.pc.in -text
/apertium-ia.post-ia.dix -text
/autogen.sh -text
autom4te.cache/output.0 -text
autom4te.cache/output.1 -text
autom4te.cache/requests -text
autom4te.cache/traces.0 -text
autom4te.cache/traces.1 -text
/config.log -text
/config.status -text
/configure -text
/configure.ac -text
/ia.autogen.att.gz -text
/ia.autogen.bin -text
/ia.automorf.att.gz -text
/ia.automorf.bin -text
/ia.autopgen.bin -text
/ia.prob -text svneol=unset#unset
/ia.rlx.bin -text
/install-sh -text
/missing -text
/modes.xml -text
modes/ia-disam.mode -text
modes/ia-gener.mode -text
modes/ia-morph.mode -text
modes/ia-tagger.mode -text
