* text=auto !eol
.deps/.d -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ina.ina.acx -text
/apertium-ina.ina.dix -text
/apertium-ina.ina.rlx -text
/apertium-ina.pc.in -text
/apertium-ina.post-ina.dix -text
/autogen.sh -text
/configure.ac -text
/ina.prob -text svneol=unset#unset
/modes.xml -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
